###############################################################################
# Ignore these files
###############################################################################

.*

###############################################################################
# Accept these directories
###############################################################################

!.github/

###############################################################################
# Accept these files
###############################################################################

!.editorconfig
!.githooks.ini
!.gitignore
!.pylintrc
