###############################################################################
# Ignore these files
###############################################################################

.*

###############################################################################
# Accept these directories
###############################################################################

!.github/

###############################################################################
# Accept these files
###############################################################################

!.gitignore
!.editorconfig
!.pylintrc
