###############################################################################
# Ignore these files
###############################################################################

.*

###############################################################################
# Accept these files
###############################################################################

!.gitignore
!.editorconfig
