[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "==1.4.35"

[dev-packages]
black = "==22.3.0"
faker = "==13.3.4"
isort = "==5.10.1"
mypy = "==0.942"
pylint = "==2.13.5"
pytest = "==7.1.1"
pytest-icdiff = "==0.5"

[requires]
python_version = "3.9"
